div{
    background-color: blue;
    padding: 15px;
    margin: 0px;
}

p{
    background-color: lightgreen;
    padding: 10px;
    
}

p#test {
    background-color: lightsalmon;
    width: 29%;
    height: 33px;
    overflow: scroll;
}