<div class="container">
    <div class="row">
        <div class="colmd-9 bg-primary border p-5">
            
        </div>
        <div class="colmd-3 bg-secondary border p-5">
            
        </div>
    </div>
</div>